In [1]:
# DESCRIPTION:
# Prototyping descriptive statistic data frames for one file.
#
# Each column specified in MODRDR6.FMT is separated by commas.
# To access each column by 'list indexing', I will have to 
# convert each readline to a line. This is pretty memory intensive though
# over millions of lines, so perhaps yield would be a better solution.
#
# Also consider the same thing for the lists themselves.

In [2]:
# Imports
import numpy as np
import pandas as pd
import os

In [ ]:
# Dictionary generating function for weather columns
def create_weather_dict(series, descriptive_stat):
    """Iterates through series and creates weather data fields dictionary.
    
    :param series: <class 'pandas.core.series.Series'> to be iterated.
    :param descriptive_stat: <class 'str'> to determine if max, mean, or min dictionary 
    :return: <class 'dict'> weather_dict
    """
    weather_dict = {
        # Features
        f"{descriptive_stat} Wind Speed (m/s)": series[0],

        f"{descriptive_stat} Wind Direction (degrees)": series[1],

        f"{descriptive_stat} Ground Temperature (K)": series[2],

        f"{descriptive_stat} Air Temperature (K) for Boom 1": series[3],

        f"{descriptive_stat} Air Temperature (K) for Boom 2": series[4],

        f"{descriptive_stat} Local Relative Humidity (%)": series[6],

        f"{descriptive_stat} Atmospheric Pressure (Pa)": series[7],

        # Output
        f"{descriptive_stat} Ambient Air Temperature (K)": series[5],
    }

    return weather_dict

In [5]:
# Load data
data_path = r"C:\Dev\python\MachineLearning\BMI\data\raw_data\RME_398422988RMD00110000000_______P9.TAB"
df = pd.DataFrame(np.genfromtxt(data_path, delimiter=","))

In [27]:
# Display data -- significantly smaller HWS and WDIR sample size
new_df = df[[3, 5, 7, 11, 13, 15, 30, 37]]
new_df.describe()

,3,5,7,11,13,15,30,37
count,25.000000,33.000000,10620.000000,12360.000000,12360.000000,12360.000000,12235.000000,12360.000000
mean,6.531600,148.743636,245.767400,242.062113,226.560402,234.811741,5.023980,724.064675
std,1.445924,101.248044,31.082786,25.835413,39.710816,20.251043,7.654241,28.601167
min,4.310000,58.370000,162.110000,196.540000,97.670000,196.540000,0.000000,692.670000
25%,5.380000,83.490000,211.540000,217.670000,220.150000,217.637500,0.890000,695.040000
50%,6.190000,103.440000,258.415000,256.050000,247.160000,245.760000,1.610000,714.355000
75%,7.820000,168.470000,274.172500,265.360000,251.810000,251.810000,4.270000,755.400000
max,9.560000,338.490000,281.860000,273.260000,262.840000,273.260000,31.410000,779.530000

In [34]:
# Estimator dfs
min_df = new_df.min().reset_index(drop=True)
mean_df = new_df.mean().reset_index(drop=True)
max_df = new_df.max().reset_index(drop=True)

0      4.31
1     58.37
2    162.11
3    196.54
4     97.67
5    196.54
6      0.00
7    692.67
dtype: float64

In [35]:
# Build min dictionary from min_df
min_dict = create_weather_dict(min_df, "Minimum")
mean_dict = create_weather_dict(mean_df, "Mean")
max_dict = create_weather_dict(max_df, "Maximum")

In [21]:
# Combine and print dictionary
final_dict = {**min_dict, **mean_dict, **max_dict}

In [22]:
# Make estimator dataframe
est_df = pd.DataFrame(final_dict, index=[0])
est_df

,Minimum Wind Speed (m/s),Minimum Wind Direction (degrees),Minimum Ground Temperature (K),Minimum Air Temperature (K) for Boom 1,Minimum Air Temperature (K) for Boom 2,Minimum Local Relative Humidity (%),Minimum Atmospheric Pressure (Pa),Minimum Ambient Air Temperature (K),Mean Wind Speed (m/s),Mean Wind Direction (degrees),...,Mean Atmospheric Pressure (Pa),Mean Ambient Air Temperature (K),Maximum Wind Speed (m/s),Maximum Wind Direction (degrees),Maximum Ground Temperature (K),Maximum Air Temperature (K) for Boom 1,Maximum Air Temperature (K) for Boom 2,Maximum Local Relative Humidity (%),Maximum Atmospheric Pressure (Pa),Maximum Ambient Air Temperature (K)
0,4.31,58.37,162.11,196.54,97.67,0.0,692.67,196.54,6.5316,148.743636,...,724.064675,234.811741,9.56,338.49,281.86,273.26,262.84,31.41,779.53,273.26